<?xml version="1.0"?>
<model>
  <name>DJI M300 RTK</name>
  <version>1.0</version>
  <sdf version="1.8">model.sdf</sdf>

  <author>
    <name>AirRunway Dev</name>
    <email>dev@airunway.local</email>
  </author>

  <description>
    DJI M300 RTK 四旋翼无人机仿真模型
    传感器: GPS, IMU, 气压计, 倾斜相机
  </description>
</model>
