<?xml version="1.0"?>
<model>
  <name>四轮差速底盘无人车</name>
  <version>1.0</version>
  <sdf version="1.8">model.sdf</sdf>

  <author>
    <name>AirRunway Dev</name>
    <email>dev@airunway.local</email>
  </author>

  <description>
    四轮差速底盘无人车仿真模型
    传感器: 16线 LiDAR, 双目相机, IMU
  </description>
</model>
